* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

#container {
    text-align: center;
    background-color: lightcoral;
    border-bottom: 2px solid orange;
    padding: 20px 0;
}

#pass {
    text-align: center;
    padding: 20px 0;
}

#thank-you {
    text-align: center;
    padding: 20px 0;
    background-color: yellow;
}
